/* Theme */
:root{
    & body {
        color-scheme: light dark;
    }

    & body[data-color-scheme="light"] {
        color-scheme: light;
    }

    & body[data-color-scheme="dark"] {
        color-scheme: dark;
    }
}

body{
    --bg-color: light-dark(#FFFFFF, #000);
    --text-color: light-dark(#2A2D31, #CFCFD2);
    --front-color: light-dark(#F3F5F7, #131517);
    --front-bright-color: light-dark(#F9FAFB, #373B41);
    --border-color: light-dark(#E5E8EA, #1A1C1F);
    --outline-color: light-dark(#D1D5D8, #2A2D31);
    --accent-color: light-dark(#4274c2, #144a9a);
    --info-bg-color: light-dark(#CFF4FC, #032830);
    --info-border-color: light-dark(#9EEAF9, #087990);
    --info-text-color: light-dark(#055160, #6EDFF6);
    --error-color: light-dark(#F8D7DA, #2C0B0E);
    --error-border-color: light-dark(#F1AEB5, #842029);
    --error-text-color: light-dark(#68272F, #EA868F);
    --success-color: light-dark(#D1E7DD, #051B11);
    --success-border-color: light-dark(#A3CFBB, #0F5132);
    --success-text-color: light-dark(#0A3622, #6AA98B);
    --scrollbar-thumb-color: light-dark(#808080, #808080);
}

/* Layout */

*{
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(22, 22, 22);
    color: #dddddd;
}

body:has(.modal){
    overflow:hidden;

    & #layout-container {
        pointer-events: none!important;
    }

    & #modal-container{
        display: flex;
    }
}

#modal-container {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: #00000099;
    z-index:99;
}

#notification-container{
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    z-index: 98;
}

/* Elements */
iframe{
    width: 100%;
    height: 100%;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border:1px solid #a8a8a8;
    border-radius: 5px;
}

a {
    color: #2da6d6;
    margin-left: 5px;
    margin-right: 5px;

    &:active {
        color: #207da1;
    }
}

hr{
    border: 1px solid #3a3a3a;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
}

pre {
    overflow: scroll;
    max-height: 50vh;
    padding: 10px;
    margin: 0;
    font-size: 12px;
    font-family: monospace;
    background-color: #222222;
    color: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #3a3a3a;
    overflow-x: auto;
    box-sizing: border-box;
}

/* Colors */
.bg-primary{
    background-color: #234483;
    border-color: #055160;
}

.bg-error{
    background-color: var(--error-color);
    border-color: red;
}

/* Form */
input, textarea{
    background-color: #3a3a3a;
    color: #f5f5f5;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1rem;
    resize: vertical;

    &:focus{
        outline:#144a9a;
    }
}

input[type="submit"], button[type="submit"]{
    background-color: #234483;
    color: #f5f5f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &[disabled]{
        cursor: not-allowed;
        opacity: 0.5;
    }
}

input[type="submit"]{
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

button{
    box-sizing: border-box;
    cursor: pointer;
    padding: 5px;
    border:1px solid #444;
    background-color:#222;
    color: #f5f5f5;
    border-radius:0;

    &[disabled], &.disabled{
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;

    }

    &.inline{
        background-color: transparent;
        text-align: left;
        border: none;
        padding: 0;
    }
}

.form-group{
    margin-bottom: 10px;

    & label + input {
        margin-top: 5px;
    }

    & input + small {
        display: inline-flex;
        margin-top: 10px;
    }
}
